name: Renovate

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch: {}

jobs:
  renovate:
    name: Run Renovate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Renovate
        uses: renovatebot/github-action@v44.2.6
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: renovate.json